{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <main class="common flex-direct-col">
        <section class="outer-block-slim">
            <div class="top">
                <p>
                    <span class="marker">Имбирный домик</span><br>
                    Кулинарный проект, в котором <br>
                    мы делимся с вами пошаговыми <br>
                    рецептами с авторскими <br> фотографиями.
                </p>
            </div>
            <h1>Лучшие рецепты</h1>

            <div class="preview-of-recipe">
                <div class="around-img"><img
                        src="../../../static/images/roasted-pork-steak-vegetables-plate.jpg"
                        alt="recipe"></div>
                <p>
                    <span>Медовик</span><br>
                    «Медовик» - один из самых известных десертов классической русской кухни. Он был
                    рождён на кухне императорского дворца около двухсот лет назад и с тех пор
                    пользуется
                    огромной любовью во всём мире.
                </p>
            </div>
            <div class="preview-of-recipe reverse">
                <div class="around-img"><img src="../../../static/images/cheese_cake.png"
                                             alt="recipe"></div>
                <p>
                    <span>Тирамису</span><br>
                    «Тирамису» – известный десерт. У слова 3 части – tira mi su. Дословно –
                    «поднимай
                    меня вверх». Многие считают, что такое название появилось из-за большого
                    количества
                    калорий в десерте. А многие уверены, что название касается эмоций, то есть
                    «подними
                    мне настроение».
                </p>
            </div>
            <div class="preview-of-recipe">
                <div class="around-img"><img
                        src="../../../static/images/roasted-pork-steak-vegetables-plate.jpg"
                        alt="recipe"></div>
                <p>
                    <span>Медовик</span><br>
                    «Медовик» - один из самых известных десертов классической русской кухни. Он был
                    рождён на кухне императорского дворца около двухсот лет назад и с тех пор
                    пользуется
                    огромной любовью во всём мире.
                </p>
            </div>
            <div class="preview-of-recipe reverse">
                <div class="around-img"><img src="../../../static/images/cheese_cake.png"
                                             alt="recipe"></div>
                <p>
                    <span>Тирамису</span><br>
                    «Тирамису» – известный десерт. У слова 3 части – tira mi su. Дословно –
                    «поднимай
                    меня вверх». Многие считают, что такое название появилось из-за большого
                    количества
                    калорий в десерте. А многие уверены, что название касается эмоций, то есть
                    «подними
                    мне настроение».
                </p>
            </div>
            <div class="preview-of-recipe">
                <div class="around-img"><img
                        src="../../../static/images/roasted-pork-steak-vegetables-plate.jpg"
                        alt="recipe"></div>
                <p>
                    <span>Медовик</span><br>
                    «Медовик» - один из самых известных десертов классической русской кухни. Он был
                    рождён на кухне императорского дворца около двухсот лет назад и с тех пор
                    пользуется
                    огромной любовью во всём мире.
                </p>
            </div>


        </section>
        <section class="social-media">
            <h2>Присоединяйтесь к нам в социальных сетях</h2>
            <div class="icons">
                <div class="unit">
                    <img src="../../../static/images/vk.png" alt="social media">
                    <span>ВКОНТАКТЕ</span>
                </div>
                <div class="unit">
                    <img src="../../../static/images/instagram.png" alt="social media">
                    <span>INSTAGRAM</span>
                </div>
                <div class="unit">
                    <img src="../../../static/images/telegramm.png" alt="social media">
                    <span>TELEGRAM</span>
                </div>
                <div class="unit">
                    <img src="../../../static/images/whats_app.png" alt="social media">
                    <span>WHATSAPP</span>
                </div>
            </div>
        </section>
    </main>
{% endblock %}