{% extends 'base.html' %}

{% block title %}Рецепты{% endblock %}

{% block content %}
    <main class="common">
        <section class="outer-block">
            <h1>Рецепты</h1>

            <div class="categories-preview">
                <div class="categories-row">
                    <div class="categories">
                        <img src="../../../static/images/cakes.png" alt="recipe">
                        <a href="#"><h4>Торты</h4></a>
                    </div>
                    <div class="categories">
                        <img src="../../../static/images/rolls.png" alt="recipe">
                        <a href="#"><h4>Пироги</h4></a>
                    </div>
                    <div class="categories">
                        <img src="../../../static/images/cookies.png" alt="recipe">
                        <a href="#"><h4>Печенье</h4></a>
                    </div>
                </div>
                <div class="categories-row">
                    <div class="categories">
                        <img src="../../../static/images/capcakes.png" alt="recipe">
                        <a href="#"><h4>Капкейки</h4></a>
                    </div>
                    <div class="categories">
                        <img src="../../../static/images/not_sweet_bakes.png" alt="recipe">
                        <a href="#"><h4>Несладкая выпечка</h4></a>
                    </div>
                </div>
            </div>

        </section>
    </main>
{% endblock %}