{% extends 'base.html' %}
{% load static %}


{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <main class="common">
        <section class="outer-block min-height">
            {% if user.is_authenticated %}
                <h1>Личный кабинет</h1>

                <div class="personal-area">
                    <form class="form-pa" method="post" action="{% url 'userapp:profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="around-img"><img src="{% static 'images/private_area.png' %}" alt="private area"></div>
{#                        {{ form }}#}
                        {{ form.name }}
                        {{ form.email }}
{#                        {{ form.birthday.value }}#}
                        {{ form.birthday }}
                        {{ user.photo.url }}
                        {{ form.gender }}
                        {{ form.photo }}
                        <input class="login" type="submit" value="Сохранить">
                    </form>
                </div>

                <div class="add-recipe-button">
                    <img src="{% static 'images/plus.png' %}" alt="plus">
                    <a href="#">
                        <div>ДОБАВИТЬ <br> РЕЦЕПТ</div>
                    </a>
                </div>

                <img class="fix-img-footer" src="{% static 'images/cookies_footer.png' %}"
                     alt="cookies">
                </section>
            {% else %}
                <h1>Войдите в личный кабинет</h1>
            {% endif %}
    </main>
{% endblock %}