{% extends 'userapp/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <main class="reg-login">
        <div class="headline-reg">Регистрация</div>
        <div class="registration">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form }}
{#                <label for="name"></label>#}
{#                <input id="name" class="field" type="text" placeholder="Имя" name="{{ form.name }}" required>#}
{#                <label for="email"></label>#}
{#                <input id="email" class="field" type="email" placeholder="E-mail" name="{{ form.email }}"#}
{#                       required>#}
{#                <label for="password1"></label>#}
{#                <input id="password1" class="field" type="password" placeholder="Пароль"#}
{#                       name="{{ form.password1 }}" required>#}
{#                <label for="password2"></label>#}
{#                <input id="{{ form.password2 }}" class="field" type="password"#}
{#                       placeholder="Подтвердите пароль" name="password" required>#}
                <input class="post" type="submit" value="Зарегистрироваться">
            </form>
        </div>

    </main>
{% endblock %}
